<!-- default template file name expected by the generic class-based detail view -->

{% block extrascripts %}
<script>
    MathJax = {
      tex: {
        <!--configure the TeX input component to use single dollar signs as in-line math delimiters-->
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    }
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>

{% endblock extrascripts %}

<h2>{{ card.question }}</h2>
<p>{{ card.answer }}</p>

{% if card.pk != 1 %}
<a href="{% url 'detail' card.pk|add:-1 %}">Previous</a>
{% endif %}
<!-- for later... query the max number of cards -->
|<a href="{% url 'detail' card.pk|add:1 %}">Next</a>
