<!-- default template file name expected by the generic class-based detail view -->

{% block extrascripts %}
<script>
    MathJax = {
      tex: {
        <!--configure the TeX input component to use single dollar signs as in-line math delimiters-->
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    }
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>

{% endblock extrascripts %}

<h2>{{ card.question }}</h2>
<p>{{ card.answer }}</p>

<!-- not allow to step backwards from the first card -->
{% if not start_of_cards %}
<a href="{% url 'display_card' previous_id %}">Previous</a>
{% endif %}

<!-- reach end of cards so can add more cards -->
{% if end_of_cards %}
| <a href="{% url 'create_card' %}">Create Card</a>
{% endif %}

<!-- if not reach the end of the cards yet-->
{% if not end_of_cards %}
| <a href="{% url 'display_card' next_id %}">Next</a>
{% endif %}
