<!DOCTYPE html>
<!-- default template file name expected by the generic class-based detail view -->
{% block extrascripts %}
<script>
    MathJax = {
        tex: {
            <!--configure the TeX input component to use single dollar signs as in-line math delimiters-->
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    }
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

<!-- Include the mathlive library -->
<script type="module" src="//unpkg.com/mathlive">
    import 'mathlive';
</script>

<!-- imports for displaying equations statically -->
<script defer type="module">
    window.addEventListener('DOMContentLoaded', () => 
      import('//unpkg.com/mathlive?module').then((mathlive) => 
        mathlive.renderMathInDocument()
      )
    );
</script>

{% endblock extrascripts %} 

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

<!-- library of cards-->
<a href="{% url 'home' %}" style="margin-bottom: -2em;" class="rounded-corner-link-small"> Return to Card Library</a>

<!-- contents of card in box-->

<div class="card">
    <math-field style="font-size: 32px; font-weight: bold;" read-only style="display:inline-block">
    {{ card.question }}
    </math-field>

    <br>

    <math-field style="font-size: 32px;" read-only style="display:inline-block">
    {{ card.answer }}
    </math-field>
</div>

<div class ="buttons-r1">
    <!-- option to update card-->
    <a href="{% url 'card_update' card.id %}" class="rounded-corner-link-small-r" role="button">Edit</a>

    <!-- not allow to step backwards from the first card -->
    {% if not start_of_cards %}
    <!-- option to delete card -->
    <a href="{% url 'card_delete' card.id %}" class="rounded-corner-link-small-r" role="button">Delete</a>
    <span class="brmedium"></span> 
</div>

<div class="buttons-r2">
    <a href="{% url 'display_card' previous_id %}" class="rounded-corner-link-small-y">Previous</a>
    {% endif %}

    <!-- reach end of cards so can add more cards -->
    {% if end_of_cards %}
    <a href="{% url 'create_card' %}" class="rounded-corner-link-small-r" >Create Card</a>
    {% endif %}

    <!-- if not reach the end of the cards yet-->
    {% if not end_of_cards %}
    <a href="{% url 'display_card' next_id %}" class="rounded-corner-link-small-y" >Next</a>
    {% endif %}
</div>