<!-- home -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

{% block content %}

{% if request.path == "/logout/" %}
  <p>Logout Successful.</p>
{% endif %}

{% if failed %}
  <p>Sorry, your username and password are incorrect. Try again.</p>
{% endif %}

  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit">Login</button>
  </form>
  <p><a href="{% url 'signup' %}"> Sign Up</a></p>
{% endblock %}
