{% block extrascripts %}
<!-- Include the mathlive library -->
<script type="module" src="//unpkg.com/mathlive">
    import 'mathlive';
</script>

{% endblock extrascripts %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

<!-- library of cards-->
<a href="{% url 'home' %}" class="rounded-corner-link-small" >Return to Card Library</a>

<br>
<H class="title">Start Review</H>
<br>

<div class="card">
    <math-field style="font-size: 32px;" read-only style="display:inline-block">
        {{ card.question }}
    </math-field>
            
    <math-field style="font-size: 32px;" read-only style="display:inline-block">
        {{ card.answer }}
    </math-field>
    <br>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="review_id" value="{{ review.id }}"/>
    <button type="submit" name="one">1 MIN</button>
    <button type="submit" name="ten">10 MINS</button>
    <button type="submit" name="four">4 DAYS</button>
</form>

</div>

