<!DOCTYPE html>
{% block extrascripts %}
<!-- Include the mathlive library -->
<script type="module" src="//unpkg.com/mathlive">
    import 'mathlive';
</script>

{% endblock extrascripts %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

<!-- library of cards-->
<a href="{% url 'home' %}" class="rounded-corner-link-small" >Return to Card Library</a>

<br>
<H class="title">Reviewing</H>
<br>

<div class="card">
    <math-field style="font-size: 32px;" read-only style="display:inline-block">
        {{ card.question }}
    </math-field>
            
    <math-field style="font-size: 32px;" read-only style="display:inline-block">
        {{ card.answer }}
    </math-field>
    <br>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="review_id" value="{{ review.id }}"/>
    <button type="submit" class="red-button" name="one" >1 &nbsp; m i n</button>
    <button type="submit" class="yellow-button" name="ten">1 0 &nbsp; m i n s</button>
    <button type="submit" class="green-button" name="four">4 &nbsp; d a y s</button>
</form>

</div>

