body {
    background-color: #F5F5F5;
    
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    letter-spacing: 0.12em;
  }

/* Create two columns/boxes that floats next to each other */
.home-display {
  float: left;
  width: 60%;
  background: #ccc;
  padding: 20px;
  margin: 0% 0% 0% -1%;

  display: block;
}

.header {
  background-color: #E34D4F;
  padding: 20px 30px 20px 30px;
  /* fill entire screen */
  margin: -1% -1% 0% -1%;

  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.12em;
}

.title {
  position: absolute;
  margin: 10px;
  left: 41%;
  display: block;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.card {
  /* position */
  position: relative;
  bottom: -30%; /* above bottom */
  left: 50%;
  /* centre */
  transform: translate(-50%, -40%);

  /* size */
  width: 70%; 
  height: 60%;
  min-width: 500px;
  min-height: 300px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px;
  margin-top: 300px;

  /* typography */
  font-size: 30px;
  line-height: 190%;

  /* display contents */
  display: flex;
  flex-direction: column;
  /* assign child elements centered*/
  align-items: center;
  z-index: 1;
}

.buttons-r1 {
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 2
}

.buttons-r2 {
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 3
}

/* page link buttons */
.rounded-corner-link {
  display: inline-block;

  background-color: #022F46;
  
  /* text styling */
  font-size: 40px;
  color: #FFFFFF;
  text-decoration: none;

  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  margin: 20px 20px;
  padding: 20px 40px;
}

.rounded-corner-link-small {
  display: inline-block;

  background-color: #022F46;
  
  /* text styling */
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;

  border: 1px solid #022F46;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 10px 10px 10px 10px;
  margin: 10px 20px;
}

.rounded-corner-link-small-y {
  display: inline-block;

  background-color: #FDA959;
  
  /* text styling */
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;

  border: 1px solid #FDA959;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 10px 10px 10px 10px;
  margin: 10px 20px;
}

.rounded-corner-link-small-r {
  display: inline-block;

  background-color: #C23D2A;
  
  /* text styling */
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;

  border: 1px solid #C23D2A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 10px 10px 10px 10px;
  margin: 10px 20px;
}

/* review button */
.green-button {
  display: inline-block;

  background-color:#52B938;
  
  /* text styling */
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;

  border: 1px solid #52B938;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 10px 20px;
  margin: 0 10px;
}

.yellow-button {
  display: inline-block;

  background-color: #E3DD3A;
  
  /* text styling */
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;

  border: 1px solid #E3DD3A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 10px 20px;
  margin: 0 10px;
}

.red-button {
  display: inline-block;

  background-color: #D63838;
  
  /* text styling */
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;

  border: 1px solid #D63838;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 10px 20px;
  margin: 0 10px;
}