<!DOCTYPE html>
<!-- default template file name expected by the generic class-based detail view -->
{% block extrascripts %}
<script>
    MathJax = {
        tex: {
            <!--configure the TeX input component to use single dollar signs as in-line math delimiters-->
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    }
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

<!-- Include the mathlive library -->
<script type="module" src="//unpkg.com/mathlive">
    import 'mathlive';
</script>

{% endblock extrascripts %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

{% block content %}
    {% if card %}
        <!-- template recieves card data so should be in the edit view -->
        <h2>Edit Card</h2>
    {% else %}
        <h2> Create New Card</h2>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        <label>Question:</label>
        <math-field id="question_formula" name="question" virtual-keyboard-mode="manual"
         role="textbox" dir="ltr" aria-label="math input field" contenteditable="true" aria-multiline="false" tabindex="0">{{ form.question.value }}
        </math-field>
        <input name="question" type="hidden" id="id_question"></input>
        <br>

        <label>Answer:</label>
        <math-field id="answer_formula" name="answer" virtual-keyboard-mode="manual"
         role="textbox" dir="ltr" aria-label="math input field" contenteditable="true" aria-multiline="false" tabindex="0">{{ form.answer.value }}
        </math-field>
        <input name="answer" type="hidden" id="id_answer"></input>
        
        <input type="submit" class="rounded-corner-link-small" value="S a v e &nbsp; C a r d">
      </form>

      <script>

        // document.getElementById doesn't seem to pick up 'math-field' by id
        const mf = document.getElementsByTagName('math-field')[0];
        mf.addEventListener('input', (ev) => { // listen for changes
            document.getElementById('id_question').value = mf.value; 
        });
    
        document.getElementById('id_question').value = mf.innerText; // get new value and display

        const answer_mf = document.getElementsByTagName('math-field')[1];
        answer_mf.addEventListener('input', (ev) => { // listen for changes
            document.getElementById('id_answer').value = answer_mf.value;
        });
    
        document.getElementById('id_answer').value = answer_mf.innerText; // get new value and display
    </script>
    
    <!-- go to card just created-->
    {% if current_id %}
        <a href="{% url 'display_card' current_id %}" class="rounded-corner-link-small-y">Previous</a>
    {% elif last_id %}
        <a href="{% url 'display_card' last_id %}" class="rounded-corner-link-small-y">Previous</a>
    {% endif %}


    <!-- reach end of cards so can add more cards -->
    <a href="{% url 'create_card' %}" class="rounded-corner-link-small-r">Create Card</a>

{% endblock %}


